.fullscreen-landscape-ipad-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 768px - $uh;
    background: #444;    
    padding:  12px 0;
    overflow: hidden;
    align-content: stretch;
}

.fullscreen-landscape-ipad-content-both {
    overflow: hidden;
    display: flex;    
    min-width: 100%;
    height: 100%;
    align-content: stretch;
    align-items: stretch;
    justify-items: stretch;
    align-self: stretch;
}

// for oversikt, liste med card-id og serials
.one-middle-list {
    display: flex;
    flex-direction: row;    
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background: $empty-content-bg;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
         
    .one-middle-list-item {
        display: flex;
        flex-direction: row;    
        justify-content: space-between;
        height: $uh;    
        background: black;
        overflow: hidden;
    }
}

.card-id-owner-child {
    display:flex;
    min-width: $uw;
    height: $uh;
    background: #209CEE;
    margin: $thin-margin;  
}

.card-id-owner-adult {
    display:flex;
    flex-direction: column;
    justify-content: center;
    // align-self: center;
    align-items: flex-start;
    // align-content: center;
    width: $uw;
    width: 24%;
    
    height: $uh;

    color: white;
    margin: $thin-margin;  
    padding: 0.5rem;  
}

.one-middle-item {
    height: $uh;
    width: $uw - 2;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    background: #209CEE;
    margin: $thin-margin;  
}

.titlev2 {
    font-weight: 900;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.centered {
    display:flex;
    justify-content: center;
    align-items: center;
}

.boat-in {
    color: darkgreen;   
    background: green;
}

.boat-out {
    background: #900C0E;
    color: white;
}