.boat-description {
    display: flex;
    height: 100%;
    color: black;
    background: whitesmoke;
    padding: 1rem;
    font-size: 1.2rem;
    flex-direction: column;
    overflow-y: scroll;

    .horiz-boxes {   
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        // background: red;
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;

        .item {
            padding: 0;
            margin: 0;
            display:flex;
            flex-direction: column;
            color: #223;
            // background:  orange;
            justify-content: center;
        }
    }

    .centered {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .titlev2 {
        font-weight: 900;
        font-size: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .name {
        grid-area: b;
        display: flex;
        flex-direction: column;
        @extend .is-size-6;
        // padding: 1rem;
        font-weight: 400;
        background: #eee;
        color: #223;
    }

    .weight-p {
        margin-bottom: 0.5rem;
    }

    .description-p {
        font-size: 1rem;
    }

}