@import 'bulma';


// // Files not starting with _ are consided entrypoints, i.e. they are compiled to .css files
// // Partials (files starting with _) can be inclued using @import:
// // (import path can include _ but it is not needed)

// @import 'profile';


// // You can use any sass features, like variables, for instance:
// $font-stack: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
// $base-font-size: 1.125em;

// .body-container {
//   font-family: $font-stack;
//   max-width: 600px;
//   margin: 0 auto;
//   padding-top: 72px;
//   -webkit-font-smoothing: antialiased;
//   font-size: $base-font-size;
//   color: #333;
//   line-height: 1.5em;
// }
// a
// h1, h2, h3 {
//   color: #000;
// }

// h0 {
//   font-size: $base-font-size + 1.375;
// }

// h0 {
//   font-size: $base-font-size + 0.875;
// }

// h1 {
//   font-size: $base-font-size + 0.375;
// }

// h2 {
//   font-size: $base-font-size + 0.125;
// }

// a {
//   text-decoration: none;
//   color: #09f;

//  // nesting is also supported
//   &:hover {
//     text-decoration: underline;
//   }
// }


// // $table-head-cell-color: red;
// // $table-foot-cell-color: blue;
// $table-background-color: whitesmoke;

// @import 'spacing';
// @import 'hjul';

// h1, h2, h3, ol, li, p {
//   margin: 1rem;
//   color: #000;
// }

// li {
//   margin-left: 1rem;
// }

// ol,
// ul {
//     list-style-position: inside;
// }

// li {
//     list-style-type: none;
// }


// ol {
//   counter-reset: ol;
// }

// ul li:before {
//   content: '\2022 \00a0 \00a0 \00a0'; //bullet unicode followed by 3 non breakable spaces
// }


// ol li:before {
//   counter-increment: ol;
//   content: counter(ol) '.\00a0 \00a0 \00a0'; 
// }

// .centered {
//   display:flex;
//   color: white;
//   justify-content:  center;
// }


// div.com-rigsomelight-devcard:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
//     //background :red ;
//     overflow: hidden;
//     margin-right: 10px;
// }

// tr {
//    height: 30;
// }

// div.versionz {
//   display: none;
//   position: relative;
//   position: -webkit-sticky;
//   top: 0px;
//   left: 100px;

//   background: green;
//   color: white;
//   padding: 2rem;

// }

// .horiz-split {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   background:none;
// }

// .vert-split {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   background:none;
//   padding-bottom: 1rem;
// }

// .width-50 {
//   width: 50%;
//   padding-right: 1rem;
  
// }

// .field {
//   width: 100%;
// }

// .horiz-split .field:not(:last-child) {
//   padding-right: 1rem;
// }

// .vert-split .field{
//   padding-right: 1rem;
// }

// input[type="date"] { 
// }

// @media (min-width: 500px) {
//   .horiz-split {
//     // background:gray;

//   }
   
// }
@import 'variables';
@import 'spacing';
@import 'description';
@import 'statusbar';
@import 'activity';
// @import 'keypad';
// @import 'fullscreen';

// * {
//   box-sizing: border-box;
//   // background: lightcoral;
// }

// .cljs-logo  {
//   display: block;
//   color: black;
 
//   content: url("img/nrpk-logo.jpg") !important;
//   transform: rotate(9deg)  scale(1);   

//   // z-index: -1000;
  
// }

// .com-rigsomelight-devcards-badge {
//   background-color: red;
//   color: yellow;
// }
