
.fullscreen-landscape-ipad-statusbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-start;

    min-height: 85px;
    background: #444;
    // overflow: scroll;
    // opacity: 1;
    // filter: saturate(0.5);
}


.statusbar-item2 {
    display: flex;
    flex: 1;
    // min-width: $uw;
    // max-width: $uw;
    // margin: $thin-margin;               
    // font-size: $button-font-size;
    @include button-font;
    background: $button-status-bg;
    color: $button-status-fg;

    &.test {
        background:green;
    }

    &.selected {
        // filter: blur(4);
        background: $selected-item-bg;
        color: $selected-item-fg;    
    }
    
    &.dimmed {
        //filter: saturate(0) opacity(0.3);
        background:         $button-pad-disabled-bg;    
        color: $button-pad-disabled-fg;
    }
    
    border-bottom: 1px solid black;
}


.statusbar-active-item2 {
    @extend .statusbar-item2;
    background: blue;
}
