$uh: 85px;
$uw: 256px;
$thin-margin: 1px;

$selected-item-fg: yellow;
$selected-item-bg: blue;

$empty-content-bg: #222;
$list-bg: gray;



$button-font-size: 1.5rem;
$button-status-bg: #fa0;
$button-status-fg: #433;

$button-pad-bg: $button-status-bg;
$button-pad-fg: $button-status-fg;


@mixin button-font {
    font-size: $button-font-size;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;

    justify-content: center;
    align-items:  center;
}

$button-pad-font-size: 2.5rem;
$button-pad-disabled-bg: #444;
$button-pad-disabled-fg: #333; 

@mixin button-pad-font {
    font-size: $button-pad-font-size;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;

    justify-content: center;
    align-items:  center;
}

$textbox-bg: complement(rebeccapurple);

$letter-fg: black;
$letter-bg: lighten($textbox-bg,25%);
$letter-open-bg: lighten($textbox-bg,10%);

$disabled-button-bg: darkred;